<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
        crossorigin="anonymous">

    <!-- Bootstrap Theme -->
    {{#if config.theme}}
    <link rel="stylesheet" href="{{config.theme}}"> {{/if}}

    <title>{{project.name}}</title>
    <meta name="description" content="{{project.description}}">

    <style>
        .card {
            margin-top: 10px;
            margin-bottom: 10px;
        }
        /* Sticky footer styles
        -------------------------------------------------- */

        html {
            position: relative;
            min-height: 100%;
        }

        body {
            /* Margin bottom by footer height */
            margin-bottom: 60px;
        }

        .footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            /* Set the fixed height of the footer here */
            height: 60px;
            line-height: 60px;
            /* Vertically center the text there */
            background-color: #f5f5f5;
        }
    </style>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-md {{#if config.navbar_class}}{{config.navbar_class}}{{else}}navbar-light bg-light{{/if}}">
            {{#if config.link}}
            <a class="navbar-brand" href="{{config.link}}">{{project.name}}</a>
            {{else}}
            <a class="navbar-brand" href="/">{{project.name}}</a>
            {{/if}}
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <span class="navbar-text">
                    Last Updated: {{moment project.last_activity_at}}
                </span>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="modal" data-target="#embedModal">Embed</a>
                    </li>

                    {{#if appEnabled}} {{#if user}}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            {{user.username}}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/auth/logout">Logout</a>
                        </div>
                    </li>
                    {{else}}
                    <li class="nav-item">
                        <a class="nav-link" href="/auth/gitlab">Login</a>
                    </li>
                    {{/if}} {{/if}}
                </ul>
            </div>
        </nav>
    </header>

    <main role="main" class="container-fluid">
        {{{body}}}
    </main>

    <footer class="footer">
        <div class="container">
            <span class="text-muted">
                {{{config.copyright}}}
            </span>
            <span class="text-muted float-right">
                ⚡ by
                <a href="https://github.com/eventOneHQ/gitlab-roadmap">GitLab Roadmap</a>
            </span>
        </div>
    </footer>

    <div class="modal" tabindex="-1" role="dialog" id="embedModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Embed Roadmap</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <textarea>
                        &lt;div id=&quot;glrm-widget&quot;&gt;&lt;/div&gt;
                        <br>
                        &lt;script&gt;
                        (function (w,d,s,o,f,js,fjs) {
                            w['GLRM_Widget']=o;w[o] = w[o] || function () { (w[o].q = w[o].q || []).push(arguments) };
                            js = d.createElement(s), fjs = d.getElementsByTagName(s)[0];
                            js.id = o; js.src = f; js.async = 1; fjs.parentNode.insertBefore(js, fjs);
                        }(window, document, 'script', 'glrm', '{{internalConfig.base_url}}/widget.js'));
                        glrm(&quot;init&quot;, { widgetRef: &quot;glrm-widget&quot; });
                        &lt;/script&gt;
                    </textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>
</body>

</html>